.copybody{
    background: linear-gradient(90deg, rgb(219,228,254) 0%, #fff 20%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #0c415e !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
nav{
    background-color: white !important;
    color: black !important;
    box-shadow: 0px 0px 10px 0px #083467 !important;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #000 !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.fw-bolder:hover{
    color: cornflowerblue !important;
}
.logoimage{
    width: 20%;
    height: 20%;
}
.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}

.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

.card-title {
    margin-top: 10px;
    font-size: 30px;
}
@media only screen and (max-width: 764px) {
    .card-title{
        margin-left: 20%;
    }
}

.invoice-color {
    color: rgb(82, 208, 247);
}

.card-header {
    padding: .9375rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .02);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

a {
    text-decoration: none !important
}

.btn-light {
    color: #333;
    background-color: #fafafa;
    border-color: #ddd
}

.header-elements-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

@media (min-width: 768px) {
    .wmin-md-400 {
        min-width: 400px !important
    }
}

.btn-primary {
    color: #fff;
    background-color: #2196f3
}

/* .btn-labeled>b {
    position: absolute;
    top: -1px;
    background-color: blue;
    display: block;
    line-height: 1;
    padding: .62503rem
} */
.line{
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.just{
    margin-left: 50%;
}
.space{
    margin-left: 30%;
    margin-right: 30%;
}
.just1{
    margin-top: 12%;
}