.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.map {
    overflow: hidden;
    padding-bottom: 470px;
    position: relative;
}


.map iframe {
    position: absolute;
}

#__register {
    display: none;
}

.__nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#myInput {
    border-bottom: 3px solid black;
}

.scroll {
    overflow-y: auto;
}
.copybody{
    background: linear-gradient(90deg, rgb(219,228,254) 0%, #fff 20%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #0c415e !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

body {
    background: linear-gradient(270deg, rgb(219,228,254) 20%, #fff 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #0c415e !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
.bluecolor{
    color: #0c415e !important;
}
.coloreffect{
    background: linear-gradient(90deg, #fff 10%, rgb(219,228,254) 80%, #fff 10%);
}
.colorimage{
    background-image: url(https://www.spectra.io/wp-content/uploads/2020/11/bg.svg?id=30) !important;
    background-repeat: no-repeat;
}
.colorimage1{
    background-image: url(https://www.spectra.io/wp-content/uploads/2020/11/grad.svg?id=74) !important;
    background-repeat: no-repeat;
}
nav{
    background-color: white !important;
    color: black !important;
    box-shadow: 0px 0px 10px 0px #083467 !important;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #000 !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.fw-bolder:hover{
    color: cornflowerblue !important;
}
.pro {
    text-align: center;
    margin-top: 5%;
}
.effect1{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h1 {
    color: black !important;
}
#__register {
    display: none;
}

.__nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.color{
    background: linear-gradient(180deg, rgb(219,228,254) 0%, #f6f2e9 100%);
}
.color1{
    background: linear-gradient(180deg, rgb(176, 194, 247) 50%,  100%);
}
.map {
    overflow: hidden;
    padding-bottom: 470px;
    position: relative;
}

.map iframe {
    position: absolute;
}

.resetpage {
    padding-top: 8px;
    text-align: center;
    color: rgba(128, 128, 128, 0.548);
    text-decoration: none;
}

.link_bg {
    text-align: center;
    color: rgba(57, 105, 179, 0.507);
    text-decoration: none;
}


/* .resetpage :hover{
            text-align: center;
            color:rgba(128, 128, 128, 0.548);
            text-decoration: none;
        } */

.indexpage {
    text-align: center;
}

.scroll {
    overflow-y: auto;
}

.order {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* table {
    border-style: none !important;
    border-bottom-width: 0px
}

td {
    text-align: left;
    padding: 8px;
    color: white;
    border-style: none;
}

th {
    text-align: left;
    padding: 8px;
    background-color: black;
    color: white;
    border: 5px solid #ddd;
}

tr:nth-child(odd) {
    background-color: #212529;
    color: white;
}

tr:nth-child(even) {
    background-color: #2c3034;
} */

#table {
    margin-top: 50px;
}

#carouselExampleIndicators {
    height: 34rem;
}
.logoimage{
    width: 8% !important;
    height: 8% !important;
}
img {
    width: 100%;
    height: 38rem;
    object-fit: cover;
}
@media only screen 
and (max-width : 320px)
{
    .order{
        width: 50%;
        margin: 50px 70px;
    }
}
@media only screen 
and (max-width : 380px)
{
    .order{
        width: 50%;
        margin: 50px 25%;
    }
}
@media only screen and (max-width : 430px)
{
    .order{
        width: 50%;
        margin: 50px 25%;
    }
.just{
    visibility: hidden;
	}
}
#example1 {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.haver:hover {
    border-color: lightgray;
    height: 35px; 
}
.space1{
    margin: 20px 0;
}

#background-div{
    height:  100%;
    width: 100%;
    background-color: white;
    position: fixed;
}

#preloader{
    background: #ffff url(https://c.tenor.com/5o2p0tH5LFQAAAAi/hug.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width:100%;
    position: fixed;
    z-index:100;
}

.wrapper {
    height: 10vh;
    /*This part is important for centering*/
    display: flex;
    justify-content: center;
}



.typing-demo {
    width: 7ch;
    animation: typing 2s steps(8), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 3em;
}

.typing {
    width: 17ch;
    animation: typing 2s steps(18), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 3em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
.sticky-top{
    position: fixed !important;
    top: 0;
    z-index: 1020;
}
.toppadding{
    padding-top: 7%;
}
.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}

.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

.card-title {
    margin-top: 10px;
    font-size: 30px;
}
@media only screen and (max-width: 764px) {
    .card-title{
        margin-left: 20%;
    }
}

.invoice-color {
    color: rgb(82, 208, 247);
}

.card-header {
    padding: .9375rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .02);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

a {
    text-decoration: none !important
}

.btn-light {
    color: #333;
    background-color: #fafafa;
    border-color: #ddd
}

.header-elements-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

@media (min-width: 768px) {
    .wmin-md-400 {
        min-width: 400px !important
    }
}

.btn-primary {
    color: #fff;
    background-color: #2196f3
}

/* .btn-labeled>b {
    position: absolute;
    top: -1px;
    background-color: blue;
    display: block;
    line-height: 1;
    padding: .62503rem
} */
.line{
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.just{
    margin-left: 50%;
}
.space{
    margin-left: 30%;
    margin-right: 30%;
}
.just1{
    margin-top: 12%;
}